@import 'setup';
@import 'utils';

// global styles

body {
    font-family: $body;
// background: $pink;
    color: white;
//   background: linear-gradient(to left, $orange, $yellow, $beige);
    background:skyblue;
    background-repeat: none;
    overflow-x:hidden;
    width:100%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h2 {
  // text-transform: uppercase;
  @include fontSize(20);
  letter-spacing: 1px;
  // border-bottom: 1px solid 
}

p {
  line-height: 1.5;
  @include fontSize(16);
  text-align:center;
}
.introP{
    margin:100px auto;
    width:60%;
    padding-top: 100px;
    @media(max-width: 790px) {
      width: 80%;
      padding-top: 0;
      margin: 50px auto;
    }
}

@function makelongshadow($pink) {
  $val: 0px 0px $orange;
  @for $i from 1 through 700 {
    $val: #{$val}, -#{$i}px #{$i}px #{$pink};
  }
  @return $val;
}

h1 {
  @include fontSize(150);
  text-shadow: makelongshadow($orange); 
  line-height: 1;
  margin-bottom: 50px;
  font-family: $pacifico;
  z-index:10;
}

.sunImage{
    position:absolute;
    left:100px;
    top:-100px;
    height:400px;
    fill:white;
    z-index:-100;

}

// reusable classes

.wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.clouds {
  fill: white;
  position: absolute;
  top: 50px;
  right: -200px;
  height: 600px;
  z-index: -1;
  @media(max-width: 790px) {
    display: none;
  }
}

.userIMG{
    height:40px;
    width:40px;
    border-radius:50%;
    float:right;
    margin-right: 80%;
}

.signInOutButton {
  border:none;
  border-radius:10px;
  background: transparent;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  padding: 10px 25px;
  background: linear-gradient(to right, $yellow, $orange);
  background: $yellow;
  margin-bottom: 20px;
  float: right;
  @include fontSize(16);
  &:hover {
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgb(255, 109, 0)100%);
  }
}
.signInButton{
    float:none;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

.transformInline > * {
  display: inline;
}

.transformInline {
  text-align: center;
  margin-bottom: 20px;
}



// date picker styles

.datePicker {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
//   background:black;
  h2 {
    margin-bottom: 10px;
    margin-top: 50px;
  }
}


// link styles

.sunsetLink, .sunriseLink {
  border: 1px solid white;
  text-decoration: none;
  z-index: 20;
  padding: 5px 20px;
  @include fontSize(16);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  width:200px;
  margin:0 auto;
  position:relative;
  
}

.sunriseLink {
  background: linear-gradient(to top right, $orange, $yellow, $beige);
  display:flex;
  flex-flow:column nowrap;
  border:none;
  border-radius:45px;
  transition: all .15s ease-in-out;
  z-index:20;
  box-shadow: (0,0,0,0.5);
  margin-bottom: 10px;
  
  img{
    height:40px;
    fill:white;
  }
  &:hover{
    background: linear-gradient(to top right, $beige, $yellow);
    box-shadow: -10px 10px 3.5px 1px rgba(0,0,0,0.67);
    transform: scale(1.05);
  }
}


.sunsetLink {
  background: linear-gradient(to bottom right, $orange, $pink);
  border:none;
  display:flex;
  flex-flow:column nowrap;
  border-radius:45px;
  transition: all 0.15s ease-in-out;
  margin-top: 10px;
  img{
      height:40px;
      fill:white;
  }
  &:hover{
    background:linear-gradient(to bottom right, $pink, $orange);
    box-shadow: -10px 10px 3.5px 1px rgba(0,0,0,0.67);
    transform: scale(1.05);
  }
}
.saveLink {
    background:$orange;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5%;
    border:none;
    border-radius:20px;
    padding:10px 30px;
    color:white;
    @include fontSize(16);
    &:hover {
      background:linear-gradient(to bottom right, $pink, $orange, $yellow);
    }
}

// sunset styles

.sunsetHeader {
  font-family: $pacifico;
  margin-top: 50px;
  @include fontSize(90);
//   text-shadow: makelongshadow($pink); 
  @media(max-width: 350px) {
    @include fontSize (80);
  }
}

.sunsetSection {
  background: linear-gradient(to bottom right, $orange, $pink);
  margin-bottom: 20px;
  border-radius:10px;
  position:relative;
  width:90%;
  margin:0 auto;
  
  // border: 1px solid white;
  button {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  h2 {
    margin-bottom: 20px;
    // text-transform: uppercase;
    margin-top: 20px;
  }
  h3 {
    @include fontSize(18)
  }
  h4 {
    @include fontSize(30);
    margin-top: 20px;
  }
  &.countdown {
    color: $pink;
  }
}

select {
    text-align: center;
    height: 30px ;
    width: 50px;
    letter-spacing: 2px;
    border: 1px solid white;
    background: $yellow;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../../images/down-arrow.png') no-repeat;
    background-size: 25%;
    background-position-x: 90%;
    background-position-y: 50%;
    padding-right: 15px;
    padding-left: 5px;
    border-radius: 0; 
    @include fontSize(16);
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    option {
        text-align: center;
        margin: 20px;
        border-radius: 0;
        background: $pink;
        color: white;
        margin:0 auto;        
    }  
}

// sunrise section styling

.sunriseSection {
  background: linear-gradient(to top right, $orange, $yellow, $beige);
  border-radius:10px;
  margin-bottom: 50px;
  position:relative;
  width:90%;
  margin:0 auto;
  & .sunriseHeader {
    font-family: $pacifico;
    margin-top: 20px;
    @include fontSize(90);
    // text-shadow: makelongshadow($yellow); 
    @media(max-width: 350px) {
      @include fontSize (80);
    }
  }

  input {
    border: 1px solid white;
    margin-bottom: 20px;

  }

  input[type=text] {
    background: orange;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: white;
    padding: 5px 10px;
    width: 300px;
    text-transform: uppercase;
    @include fontSize(14);
    @media(max-width: 350px) {
      width: 200px;
      text-align: center;
    }
  }

  input[type=submit] {
    background: $orange;
    color: white;
    @include fontSize(14);
    text-transform: uppercase;
    padding: 5px 15px;
    letter-spacing: 1px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    &:hover {
      background: $yellow;
      transform: all ease 0.3s;
    }

  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .whatever{
      background:black;
      margin-bottom:40px;
  }

  
}

.savedRunsContainer{
    background:$orange;
    .savedRun{
      background:$pink;
      position:relative;
      padding: 30px 15px 15px 15px;
      width:300px;
      margin:15px auto;
      border-radius:10px;

      .shareRun {
        position: relative;
        margin-bottom: 0;
        p {
          text-align: left;
          padding-left: 35px;
        }
        .twitterIcon {
          position: absolute;
          bottom: 0;
          left: 0;
        }
        .twitterShare {
          height: 40px;
          position: absolute;
          width: 250px;
          // background: red;
          bottom: 0;

        }
      }

        h3{
            @include fontSize(16);
            font-weight: lighter;
          }
        button{
            position:absolute;
            top:10px;
            right:10px;
            background:none;
            border:none;

            .x{
                height:20px;
                transition:all 0.3s ease-in-out;
                &:hover{
                    transform:rotate(90deg);

    
                }
              }
            }
          }
        }

.userImage{
    position:absolute;
    top:18px;
    right:180px;
    transition:all 0.2s ease-in-out;
    &:hover{
        transform:scale(1.2);
    }
}

.mapBottom {
  background: linear-gradient(to bottom right, $orange, $yellow, $beige);
  position: relative;
  bottom: 20px;
  ul {
    padding-top: 20px;
    text-align: left;
    text-decoration: none;
    @include fontSize(16);
  }
}

footer {
  margin-top: 50px;
  a {
    color: white;
    text-decoration: none;
  }
  a:nth-of-type(2), a:first-of-type, a:nth-of-type(3) {
    border-bottom: 1px solid white;
    &:hover {
      color: $beige;
      border-bottom: 1px solid $beige;
    }
  }

  img {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
}














// date picker styling 

.react-date-picker {
  display: inline-flex;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  z-index: 30;
  @include fontSize(16);
  color: white;
  margin-bottom: 20px;
}
.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-date-picker--disabled {
  // background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-date-picker__button {
  display: flex;
  border: thin solid white;
}
.react-date-picker__button__input {
  min-width: calc(4px + (4px * 3) +  4.32em  +  0.434em);
  flex-grow: 1;
  display: flex;
  padding: 0 2px;
  align-items: baseline;
  background: $pink;
  color: white;
  padding: 10px 20px;
}
.react-date-picker__button__input__divider {
  padding: 1px 0;
}
.react-date-picker__button__input__input {
  min-width: calc(4px +  0.54em);
  height: 100%;
  position: relative;
  padding: 1px;
  border: 0;
  background: none;
  -moz-appearance: textfield;
  color: white;
}
.react-date-picker__button__input__input::-webkit-outer-spin-button,
.react-date-picker__button__input__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-date-picker__button__input__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-date-picker__button__input__input--hasLeadingZero {
  min-width: calc(4px +  1.08em);
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em);
}
.react-date-picker__button__icon {
  border: 0;
  // background: transparent;
  padding: 4px 6px;
  background: $pink;
}
.react-date-picker__button__icon:enabled {
  cursor: pointer;
}
.react-date-picker__button__icon:enabled:hover svg g,
.react-date-picker__button__icon:enabled:focus svg g {
  stroke: $orange;
}


.react-date-picker__button__icon:disabled svg g {
  stroke: #6d6d6d;
}
.react-date-picker__button__icon svg {
  display: inherit;
}

.react-date-picker__button__icon svg g{
  stroke: white;
}
.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
}
.react-date-picker__calendar--closed {
  display: none;
}
.react-date-picker__calendar--above-label {
  bottom: 100%;
  top: auto;
}
.react-date-picker__calendar .react-calendar {
  border-width: thin;
}

.react-calendar__tile.react-calendar__month-view__days__day {
  border: 1px solid white;
  color: white;
  background: $pink;
  position: relative;
  right: 80px;
  // background: white;
}

.react-calendar__month-view__weekdays__weekday, .react-calendar__navigation__label {
  background: $pink;
  border: 1px solid white;
  color: white;
  position: relative;
  right: 80px;
}

.react-calendar__navigation__prev-button, 
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  position: relative;
  right: 80px;
  background: $pink;
  border: 1px solid white;

}

.react-calendar__navigation__arrow {
  color: white;
}


